@charset "UTF-8";

/*

@font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book'), url('FuturaCyrillicBook.woff') format('woff');
}

/* Paleta de cores 

#DAE2E2 azul
#ECE6D6 rosa claro
#FFFFCD amarelo

*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFFFCD;
    width: 100%;
}

.font {
    font-family: 'Open Sans', sans-serif;
}

.logo-desktop {
    width: 90px;
    height: 70px;
}

.logo-mobile {
    width: 80px;
    height: 60px;
    margin-left: 20px;
}

.nav-link-active:hover {
    color: #222;
    transition: 0.5s;
    text-shadow: 1px 1px 1px gray;
}

.nav-link-active:active {
    color: #222;
    transition: 0.5s;
}

.dropdown-item-active:hover {
    background-color: #ECE6D6;
}

.bg-body-navbar {
    background-color: #ECE6D6;
}

.background-banner-desktop {
    background-image: linear-gradient(to bottom, #ECE6D6, #DAE2E2);
    height: 80vh;
}

.banner {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-banner-sm   {
    background-image: url(./assets/banner-sm.png);
}

.banner-md-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.img-banner-md {
    background-image: url(./assets/banner-md.jpg);
}

.img-banner-lg {
    width: 47vw;
    height: 60vh;
    border-radius: 50% 0% 50% 0%;
}

.img-banner-xl {
    width: 37vw;
    height: 60vh;
    border-radius: 50% 0% 50% 0%;
    /*filter: drop-shadow(-27px 0px 0px #8985F2);*/
}

.banners-titulo {
    --bs-bg-opacity: .2;
}

.linha {
    border-top: 2px solid #c2953c;
    width: 38vw;
}

.conatiner-conteudo-escrito {
    width: 400px;
}

.icon {
    width: 50px;
    height: 50px;
}

.img-carrosel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

.tratamentos {
    height: 400px;
}

.bg-background-footer {
    background-image: linear-gradient(to bottom, #ECE6D6, #DAE2E2);
}

.footer-margin-home {
    margin-top: 20vh;
}

.footer-margin-tratamentos {
    margin-top: 10vh;
}

.icons-fotter {
    color: #fff;
    padding: 6px 11px;
    margin: 0px 8px 0px 8px;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.icon-facebook {
    background: #4267b2;
}

.icon-facebook:hover {
    color: #4267b2;
    background: #222;
}

.icon-instagram {
    background: #e1306c;
}

.icon-instagram:hover {
    color: #e1306c;
    background: #222;
}

.icon-linkedin {
    background: #0077b5;
}

.icon-linkedin:hover {
    color: #0077b5;
    background: #222;
}

.footer-itens {
    color: #222;
    list-style: none;
    padding: 1px 0px 1px 0px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.active-itens:hover {
    font-weight: bold;
    text-decoration: underline;
}

.linha-footer {
    border-top: 2px solid #222;
    width: 40px;
}

.copyright-div {
    font-size: 10px;
    font-weight: 400;
    color: #222;
}

.copyright-text>a {
    color: #222;
}

.copyright-text>a:hover {
    font-weight: bold;
    transition: all 0.4s ease;
}

/*Style tratamentos pages*/

.background-desktop-tratamentos {
    background-image: linear-gradient(to bottom, #ECE6D6, #DAE2E2);
    height: 520px;
}

.titulo-tratamentos-home {
    font-size: 3rem;
    color: #8C503A;
}

.text-tratamentos-home {
    font-size: 1.1rem;
}

.container-home-tratamentos-desktop {
    width: 600px;
}

.container-home-tratamentos-mobile {
    width: 400px;
}

.bg-container-tratamentos {
    background: #8C503A;
    height: 400px;
}

.tratamentos-itens {
    list-style: none;
}