@charset "UTF-8";

/*

@font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book'), url('FuturaCyrillicBook.woff') format('woff');
}

/* Paleta de cores 

#DAE2E2 azul
#ECE6D6 rosa claro
#FFFFCD amarelo

*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFFFCD;
    width: 100%;
}

.logo-desktop {
    width: 90px;
    height: 70px;
}

.logo-mobile {
    width: 80px;
    height: 60px;
    margin-left: 20px;
}

.nav-link-active:hover {
    color: #222;
    transition: 0.5s;
    text-shadow: 1px 1px 1px gray;
}

.nav-link-active:active {
    color: #222;
    transition: 0.5s;
}

.dropdown-item-active:hover {
    background-color: #ECE6D6;
}

.bg-body-navbar {
    background-color: #ECE6D6;
}

.background-desktop {
    background-image: linear-gradient(to bottom, #ECE6D6, #DAE2E2);
    height: 80vh;
}

.banner {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-banner-mobile {
    background-image: url(./assets/banner-mobile.png);
}

.banners-titulo {
    --bs-bg-opacity: .2;
}

.linha {
    border-top: 0.4px solid #c2953c;
    width: 40vw;
}

.img-banner-desktop {
    width: 32vw;
    height: 60vh;
    border-radius: 50% 0% 50% 0%;
    /*filter: drop-shadow(-27px 0px 0px #8985F2);*/
}

.conatiner-conteudo-escrito {
    width: 400px;
}

.font {
    font-family: 'Futura PT Book ';
}

.icon {
    width: 50px;
    height: 50px;
}

.img-carrosel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

.tratamentos {
    height: 400px;
}

.bg-background-footer {
    background-image: linear-gradient(to bottom, #ECE6D6, #DAE2E2);
    margin-top: 20vh;
}

footer .content {
    max-width: 1250px;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1)  {
    background: #4267b2;
}

.top .media-icons a:nth-child(1):hover  {
    color: #4267b2;
    background: #222;
}

.top .media-icons a:nth-child(2)  {
    background: #e1306c;
}

.top .media-icons a:nth-child(2):hover  {
    color: #e1306c;
    background: #222;
}

.top .media-icons a:nth-child(3)  {
    background: #0077b5;
}

.top .media-icons a:nth-child(3):hover  {
    color: #0077b5;
    background: #222;
}

footer .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content, .link-boxes, .box {
   width: calc(100% / 3 -10px);
}

.content, .link-boxes, .box, .link_name {
    color: #222;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #222;
}

.content, .link-boxes, .box li {
    margin: 6px 0;
    list-style: none;
}

.content, .link-boxes, .box li a {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.4s ease;
}

.content, .link-boxes, .box li a:hover {
    font-weight: bold;
}

.endereco {
    margin-right: 55px;
}

fotter .bottom-details {
    width: 100%;
    background: #222;
}

fotter .bottom-details, .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
}

.bottom-details, .bottom_text span, .bottom-details, .bottom-text a {
    font-size: 14px;
    font-weight: 400;
    color: #222;
    text-decoration: none;
}

.bottom-details, .bottom-text a:hover {
    text-decoration: underline;
}

