@charset "UTF-8";

/*

Paleta de cores 

#DAE2E2 azul
#ECE6D6 rosa claro
#FFFFCD amarelo

*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFFFCD;
    width: 100%;
}

.font {
    font-family: 'Open Sans', sans-serif;
}

/*Classes header*/

.logo-desktop {
    width: 90px;
    height: 70px;
}

.logo-mobile {
    width: 80px;
    height: 60px;
    margin-left: 20px;
}

.nav-link-active{
    position: relative;
}

.nav-link-active::after {
    content: " ";
    width: 0%;
    height: 2px;
    background: #222;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav-link-active:hover::after {
    width: 100%;
}

.dropdown-item-active:hover {
    background-color: #ECE6D6;
}

.bg-body-navbar {
    background-color: #ECE6D6;
}

/*Classes Main*/

/*1° e 2° section sm-md-lg-xl*/

.img-banner {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banners-titulo {
    --bs-bg-opacity: 0.2;
}

.img-banner-sm   {
    background-image: url(./assets/banner-sm.png);
}

.img-banner-md {
    background-image: url(./assets/banner-md.jpg);
}

.banner-md-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.background-color-banner-desktop {
    background-image: linear-gradient(to bottom, #ECE6D6, #DAE2E2);
    height: 80vh;
}

.linha {
    border-top: 2px solid #c2953c;
    width: 38vw;
}

.img-banner-lg {
    width: 505px;
    height: 60vh;
    border-radius: 50% 0% 50% 0%;
}

.img-banner-xl {
    width: 600px;
    height: 60vh;
    border-radius: 50% 0% 50% 0%;
}

/*5° Diferenciais fino*/

.icons-diferenciais-fino {
    width: 50px;
    height: 50px;
}

/*6° footer*/

.icons-fotter {
    color: #fff;
    padding: 5px 10px;
    margin: 0px 5px 0px 5px;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.icon-facebook {
    background: #4267b2;
}

.icon-facebook:hover {
    color: #4267b2;
    background: #222;
}

.icon-instagram {
    background: #e1306c;
}

.icon-instagram:hover {
    color: #e1306c;
    background: #222;
}

.icon-linkedin {
    background: #0077b5;
}

.icon-linkedin:hover {
    color: #0077b5;
    background: #222;
}

.footer-itens {
    color: #222;
    list-style: none;
    padding: 1px 0px 1px 0px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.active-itens-footer:hover {
    font-weight: bold;
    text-decoration: underline;
}

.active-itens-footer-kids:hover {
    font-size: 1.2rem;
}

.linha-footer {
    border-top: 2px solid #222;
    width: 40px;
}

.copyright-div {
    font-size: 10px;
    font-weight: 400;
    color: #222;
}

.copyright-text>a {
    color: #222;
}

.copyright-text>a:hover {
    font-weight: bold;
    transition: all 0.4s ease;
}

/*Style tratamentos pages*/

.font-kids {
    font-family: 'Bungee', sans-serif;
}

