@charset "UTF-8";

body {
    height: 4000px;
}

.nav-link-active:hover {
    color: #222;
    transition: 0.5s;
    text-shadow: 1px 1px 1px gray;
}

.nav-link-active:active {
    color: #222;
    transition: 0.5s;
    text-shadow: 1px 1px 1px gray;
}


