@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,800;1,1;1,100;1,200&display=swap');


/* Fontes 
font-family: 'La Belle Aurore', cursive;
font-family: 'Ysabeau Office', sans-serif;
font-family: 'Sarala', sans-serif;*/

/* Paleta de cores
#E5EFFE Azul mais claro
#D5E7F1 Azul médio
#588bdd Azul escuro 
#0C1B32 Azul mais escuro
*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E5EFFE;
    /*background: linear-gradient(68.15deg, #E5EFFE 16.62%, #D5E7F1 85.61%);*/
    background-position: center;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 260px;
    background-image: linear-gradient(to top,  #E5EFFE, #588bdd );
}

.cabecalho-logo {
    width: 180px;
    height: 180px;
    border-radius:50%;
    overflow: hidden;
    border: 0.5px solid #588bdd;
}

.cabecalho-menu-item {
    color: #222;
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 1.2em;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav > a {
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:active{
    background-color: #588bdd4d;
    color: #588bdd;
    cursor: pointer;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.titulo-principal {
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5rem;
    color:#222;
}

.subtitulo-principal {
    display: none;
}

.conteudo-principal-imagem {
    height: 400px;
    filter: drop-shadow(8px 8px 4px #588bdd);
    transition: 0.5s;
}

.container-tratamentos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-principal-tratamentos {
    width: 90%;
    height: 1400px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.146);
    position: relative;
    margin-bottom: 100px;
}

.titulo-tratamentos {
    font-family: 'La Belle Aurore', cursive;
    font-size: 30px;
    color: #222;
}

#tratamentos {
    height: 250px;
    width: 250px;
    transition: width 1s, height 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#tratamentos:active > img {
    height: 350px;
    width: 300px;
}

#tratamentos:active > div {
    height: 700px;
    width: 300px;
}

#container-img {
    min-width: 250px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}

#descritivo-img {
    height: 50px;
    width: 250px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    background: rgba(67, 62, 62, 0.92);
}

#descritivo-img > a {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ysabeau Office', sans-serif;
    transition-duration: 0.5s;
    color: white;
    text-decoration: none;
}

.rodape {
    background-image: linear-gradient(to bottom,  #E5EFFE, #588bdd  );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper {
    color: #222;
    padding-top: 50px;
}

#hover-fx img {
    width: 60px;
    height: 60px;
    line-height: 64px;
    border-radius: 50%;
}

#hover-fx {
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 60px;
    height: 60px;
    line-height: 64px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #222;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 300ms;
}

#hover-fx::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #222;
    top: 0;
    left: 0;
    opacity: 0;
    transform: 300ms;
}

#hover-fx:hover::after {
    opacity: 1;
    transform: scale(1.15);
}

.fino-odonto {
    font-size: 1.0rem;
    color: #222;
    font-family: 'Sarala', sans-serif;
    padding-bottom: 10px;
    position: absolute;
    top: 11%;
}

.divulgacao {
    font-size: 13px;
    color: #222;
    font-family: 'Sarala', sans-serif;
    padding-top: 30px;
}

.divulgacao a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.divulgacao a:active {
    text-decoration: underline;
    color: #222;
}

.localizacao-contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.container-localizacao-contato {
    width: 90%;
    height: 520px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.146);
    margin-bottom: 50px;
    position: relative;
}

.titulo-localizacao {
    font-family: 'La Belle Aurore', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    color:#0C1B32;
    position: absolute;
    top: 0;
}

.container-localizacao-contato img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 14%;
}

.localizacao {
    position: absolute;
    top: 27%;
}

iframe {
    border-radius: 5px;
}

