/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;
  font-family: 'Poppins', sans-serif;*/
}

body{
  /*display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;*/
  background: white;
  height: 100vh;
  width: 100vw;
}

.section-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper{
  /*display: flex;
  position: relative;*/
  max-width: 1200px;
}

.arrow-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow-icons i{
  /*top: 50%;
  position: absolute;*/
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  text-align: center;
  line-height: 44px;
  background: #222;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.arrow-icons i:active{
  transform: translateY(-50%) scale(0.9);
}

.arrow-icons i:hover{
  background: #f2f2f2;
}

/*
.arrow-icons i:first-child{
  left: -22px;
  display: none;
}


.arrow-icons i:last-child{
  right: -22px;
}
*/

.wrapper .carousel{
  /*font-size: 0px;
  cursor: pointer;*/
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

/*
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}


.carousel.dragging img{
  pointer-events: none;
}
*/

.carousel img{
  height: 400px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
  border-radius: 20px;
}

.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

